#set( $params = "JNIEnv *env, jobject obj" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $idx = $foreach.index )
#set( $params = "${params}, $type arg$idx" )
#end
#end

#set( $paramTypes = "JNIEnv *, jobject" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $paramTypes = "${paramTypes}, $type" )
#end
#end

#set( $args = "request->env, request->obj" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $idx = $foreach.index )
#set( $args = "${args},  *(($type *)request->args[${idx}])" )
#end
#end

$define _GNU_SOURCE

$include <stdio.h>
$include <string.h>

$include <memory_map.h>
$include <pkru_sandbox.h>
$include <hash_table.h>
$include <jni_wrapper.h>
$include <jni_handle.h>

$include "$headerFilename"

void nativeMethodInterface_$callGate(int domain) {
    printf("enter native method interface\n");
    IsolateFunction *function = get_pkru_sandbox(domain);
    if (load_native_method(function, "$nativeMethod"))
        exit(EXIT_FAILURE);

    printf("global native method symbol: %p\n", _native_method);

    request_t* request = (request_t*) get_domain_arena(domain);
    $returnType (*native_method)($paramTypes) = _native_method; // accessible in worker domain

    int pku = DOMAIN_TO_PKRU(domain) & RO_LOADER_DOMAIN;
    __wrpkrumem(pku);
#if ( $returnType == "void" )
    native_method($args);
    __wrpkru(DEFAULT_DOMAIN);
#else
    $returnType retval = native_method($args);
    __wrpkru(DEFAULT_DOMAIN);
    memcpy(request->ret, &retval, sizeof($returnType));
#end
    printf("return from nativeMethodInterface\n");
}

/*
 * The domain arena is setup in the following way:
 * |---  request (sizeof(request_t bytes) long) ---|
 * |---      args[0] (arg_size bytes long)      ---|
 * |---      args[1] (arg_size bytes long)      ---|
 * |---      args[N] (arg_size bytes long)      ---|
 * |---        ret (ret_size bytes long)        ---|
 *
 */
JNIEXPORT $returnType JNICALL $callGate($params) {
    SNI_DBM("[s]: Getting available domain...");

    print_systime();

    printf("Switch to native method $callGate\n");

    int domain;
    request_t * request;
    IsolateFunction *function;
    [[maybe_unused]] size_t size;
    [[maybe_unused]] void *aux;

    function = get_cached_pkru_sandbox();
    if (!function) {
        function = (IsolateFunction *)hash_table_lookup(proc_tbl, gettid());
        set_cached_pkru_sandbox(function);
    }
    
    domain = enter_sandbox_domain(function);

    // Acquire worker lock
    pthread_mutex_t* request_lock = get_request_lock(domain); 
    pthread_mutex_lock(request_lock);

    request = (request_t*) get_domain_arena(domain);
    request->fun = nativeMethodInterface_$callGate;
    request->env = (JNIEnv *)globalWrapper;
    request->obj = obj;

    aux = (void *)((char *)request + sizeof(request_t));
#if( $numArgs > 0 )
#foreach( $_ in [1..$numArgs] )
#set( $idx = $foreach.index )
#if ( $jniTypes[$idx] != "void" )
    size = sizeof(arg$idx);
    request->args[$idx] = aux;
    memcpy(request->args[$idx], &arg$idx, size);
    aux = (void *)((char *)aux + size);
#end
#end
#end

#if ( $returnType != "void" )
    request->ret = aux;
#end

    set_domain_env(domain, env);
    notify_worker(domain);
    wait_worker(domain);

#if ( $returnType != "void" )
    $returnType retval = *(($returnType *)request->ret);
#end
    pthread_mutex_unlock(request_lock);
    leave_sandbox_domain(function);

    print_systime();
#if ( $returnType != "void" )
    return retval;
#end
}
