#set( $params = "JNIEnv *env, jobject obj" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $idx = $foreach.index )
#set( $params = "${params}, $type arg$idx" )
#end
#end

#set( $paramTypes = "JNIEnv *, jobject" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $paramTypes = "${paramTypes}, $type" )
#end
#end

#set( $args = "request->env, request->obj" )
#if( $numArgs > 0 )
#foreach( $type in $jniTypes )
#set( $idx = $foreach.index )
#set( $args = "${args}, *(($type *)request->args[${idx}])" )
#end
#end

$define _GNU_SOURCE

$include <stdio.h>
$include <string.h>
$include <dlfcn.h>
$include <jni.h>

$include <memory_map.h>
$include <pkru_sandbox.h>
$include <domain_manager.h>

$include "$headerFilename"

$returnType (*native_method)($paramTypes) = NULL;

void nativeMethodInterface(int pkey) {
    request_t* request = (request_t*) get_domain_arena(pkey);

    if (native_method == NULL) {
        void *handle = dlmopen(LM_ID_NEWLM, "$nativeLibName", RTLD_LAZY);
        //void *handle = dlopen("$nativeLibName", RTLD_LAZY | RTLD_GLOBAL);
        if (handle == NULL) {
            perror("dlmopen");
            fprintf(stdout, "Could not load library $nativeLibName\n");
            exit(EXIT_FAILURE);
        }
        if ((native_method = dlsym(handle, "$nativeMethod")) == NULL) {
            perror("dlsym");
            fprintf(stdout, "Failed to find the symbol: $nativeMethod\n");
            exit(EXIT_FAILURE);
        }
    }

    __wrpkrumem(DOMAIN_TO_PKRU(pkey) & DOMAIN_TO_PKRU(LOADER_DOMAIN) & 0x55555554);
    native_method($args);
    __wrpkru(DEFAULT_DOMAIN);

    // TODO: implement correct return value
}

JNIEXPORT $returnType JNICALL $callGate($params) {
    SNI_DBM("[s]: Getting available domain...");
    int domain;
    // TODO: implement LPI
    while ((domain = book_available_domain()) == 0) {
        usleep(100);
    }

    // The domain arena is setup in the following way:
    // |--- request (sizeof(request_t bytes) long) ---|--- arg (arg_size bytes long) ---|--- ret (ret_size bytes long) ---|
    request_t* request = (request_t*) get_domain_arena(domain);
    request->fun = nativeMethodInterface;

    [[maybe_unused]] size_t size;
    [[maybe_unused]] void *aux = (void *)((char *)request + sizeof(request_t));

    // Copying the function call argument to arena.
#if( $numArgs > 0 )
#foreach( $_ in [1..$numArgs] )
#set( $idx = $foreach.index )

    // copy arg$idx
    request->args[$idx] = aux;
    printf("%p\n", request->args[$idx]);
#if( $jniTypes[$idx] != "jstring" )
    size = $argSizes[$idx];
    request->arg_sizes[$idx] = size;
    memcpy(request->args[$idx], &arg$idx, size);
#else
    size = (*env)->GetStringLength(env, arg$idx) * sizeof(short);
    memcpy(request->args[$idx], (*env)->GetStringChars(env, arg$idx, NULL), size);
    printf("string size: %ld, content: ", size);
    for (int i = 0; i < size; i++) {
        printf("%c", *((char *)request->args[$idx] + i));
    }
    printf("\n");
    fflush(stdout);
#end
    aux = (void *)((char *)aux + size);
#end
#end

    // TODO: copy arguments
    request->env = env;
    request->obj = obj;

    // run function in worker domain
    pthread_cond_t* cond = get_domain_cond(domain);
    pthread_cond_broadcast(cond);

    // wait
    pthread_mutex_t* lock = get_domain_lock(domain); 
    pthread_mutex_lock(lock);
    pthread_cond_wait(cond, lock);
    pthread_mutex_unlock(lock);
    fprintf(stderr, "User thread notify\n");
   
    // Copying return value to arena and setting ret and ret_size pointers.
    // __attribute__((unused)) void *ret = (void*) (((char*) request->arg) + arg_size);
    // *ret_size = request->ret_size; // TODO
    // memcpy(*ret, request->ret, request->ret_size); // TODO
	// return ret; // TODO: implement correct return value
    return;
}
